@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box {
    @apply rounded-3xl border-l border-t border-white bg-[#25252510] p-6 shadow-box dark:border-black dark:bg-[#00000010];
  }

  .studiocard {
    @apply rounded-3xl border-l border-t border-white p-6 shadow-box dark:border-black;
  }

  .smallbox {
    @apply border-l border-t border-[#dadada] shadow-box;
  }

  .checkbox {
    @apply h-[19px] w-[19px] cursor-pointer rounded-[2px] border-[2.8px] text-pink  ring-0  focus:ring-0 dark:border-[#fff] dark:bg-transparent;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #e91e63;
  border-radius: 5px;
}
