@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box {
    @apply rounded-3xl border-l border-t border-white bg-[#25252510] p-6 shadow-box dark:border-black dark:bg-[#00000010];
  }

  .studiocard {
    @apply rounded-3xl border-l border-t border-white p-6 shadow-box dark:border-black;
  }

  .smallbox {
    @apply border-l border-t border-[#dadada] shadow-box;
  }

  .checkbox {
    @apply h-[18px] w-[18px] cursor-pointer rounded-[3px] border-2  border-[#fff] bg-transparent text-pink ring-0 focus:ring-0;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #e91e63;
  border-radius: 5px;
}
